<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Tuwel Anmeldeplattform" />
    <meta name="author" content="Johannes Zottele" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>Impressum und Disclaimer</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link href="signin.css" rel="stylesheet" />
  </head>
  <body>
    <div style="margin: 3rem;" class="scrollspy-example">
      <h4 id="list-item-1">Zweck dieser Seite</h4>
      <p>
        Der Zweck dieser Seite besteht allein darin, den Anmeldevorgang für die
        Plattform <a href="https://tuwel.tuwien.ac.at/">TUWEL</a> (die
        Lernplattform der Technischen Universität Wien) zu vereinfachen. <br />
        Im Detail ist das Anmeldeformular auf der Index-Seite ein ganz normales
        Loginforumlar, mit dessen Hilfe die Logindaten direkt an den Server von
        TUWEL geschickt werden. Die eingegebenen Daten werden weder direkt, noch
        über einen anderen Weg zum Server von
        <a href=" https://tuwel-264520.appspot.com/">
          tuwel-264520.appspot.com</a
        >
        gesendet. <br />
        <br />
        Mithilfe des "Lesezeichen-Feature" lässt sich ein Link generieren, mit
        dessen Hilfe eine direkte Anmeldung bei der oben genannte Plattform
        <a href="https://tuwel.tuwien.ac.at/">TUWEL</a> möglich ist. Hierfür
        werden die eingegbenen Daten an den Server von
        <a href=" https://tuwel-264520.appspot.com/">
          tuwel-264520.appspot.com</a
        >
        geschickt, um diesen Link zu genererieren. Der generierte Link wird an
        den/die Client zurückgeschickt. Mit Hilfe des Links kann der/die
        NutzerIn diesen in ihren/seinen Lesezeichen speichern, um sich so direkt
        anmelden zu können. <br />
        <span class="font-weight-bold">
          Es werden hierbei zu keiner Zeit Zugangsdaten gespeichert!
        </span>
      </p>
      <h4 id="list-item-2">Herkunft dieser Seite</h4>
      <p>
        Diese Seite steht in keinem Zusammenhang mit der
        <a href="https://www.tuwien.at/">Technischen Universität Wien</a>.
        <br />
        Für die Entwicklung ist und war Johannes Zottele verantwortlich. <br />
        <a href=" https://tuwel-264520.appspot.com/">
          tuwel-264520.appspot.com</a
        >
        enstand am 09.01.2020 in Wien.
      </p>
      <h4 id="list-item-3">Disclaimer</h4>
      <p>
        Wie schon oben beschrieben, speichert
        <a href=" https://tuwel-264520.appspot.com/">
          tuwel-264520.appspot.com</a
        >
        keine Daten. Beim Generieren des Links für das "Lesezeichen-Feature"
        werden die Zugangsdaten verschlüsselt. Somit ist gewährleistet, dass
        dritte Parteien die Zugangsdaten der/des NutzerIn nicht durch das
        direkte Sehen des Links auslesen können. <br />
        Trotzdem muss dafür gesorgt werden, dass der generierte Link sicher
        aufbewahrt wird und von keiner dritten Partei genutzt werden kann. Ist
        dies jedoch der Fall, kann
        <a href=" https://tuwel-264520.appspot.com/">
          tuwel-264520.appspot.com</a
        >
        bzw. dessen Entwickler keinerlei Haftung übernehmen. <br />
        Auch wenn der Entwickler von
        <a href=" https://tuwel-264520.appspot.com/">
          tuwel-264520.appspot.com</a
        >
        sein Möglichstes tut, diese Website vor Angreifern jeglicher Art zu
        schützen, kann der Entwickler keine Haftung für Hacks oder andere
        Angriffe auf
        <a href=" https://tuwel-264520.appspot.com/">
          tuwel-264520.appspot.com</a
        >
        übernehmen. <br />
        Es wird auch keine Haftung für jeglichen Inhalt der verlinkten Seite
        <a href="https://tuwel.tuwien.ac.at/">TUWEL</a> übernommen.
      </p>
      <h4 id="list-item-4">Kontakt</h4>
      <p>
        Der Entwickler kann über die Email
        <a href="mailto:official@johannes-zottele.at"
          >official@johannes-zottele.at</a
        >
        kontaktiert werden.
      </p>
      <h4 id="list-item-4">Quellcode</h4>
      <p>
        Der gesamte Code(Bis auf den Verschlüsselungsschlüssel) ist auf
        <a href="https://github.com/Jozott00/tuwelLogin.git"
          >github.com/Jozott00/tuwelLogin.git</a
        >
        einsehbar.
      </p>
    </div>
  </body>
</html>
